{
  "comments": false,
  "compact": true,
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "browsers": [
            "last 2 versions",
            "not ie <= 11",
            "not op_mini all",
            "not dead",
            "not < 0.5%"
          ]
        },
        "useBuiltIns": "entry",
        "corejs": "3",
        "modules": false
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-syntax-object-rest-spread",
    "@babel/plugin-proposal-object-rest-spread"
  ]
}
