{
  "comments": false,
  "compact": true,
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": [
            "last 2 versions",
            "not ie <= 11",
            "not op_mini all",
            "not dead",
            "not < 0.5%"
          ]
        },
        "useBuiltIns": true,
        "modules": false
      }
    ]
  ],
  "plugins": ["syntax-object-rest-spread", "transform-object-rest-spread"]
}
